__pycache__/
build/
*.egg-info/
*.so

tmp*
data/
trial*/
.vs/

TOKEN
*.swp
*.un~

untracked
.ipynb_checkpoints
.virtual_documents

peekaboo_results

thumbnails
thumbnails_data1
thumbnails_data2
thumbnails_data3
thumbnails_data4
thumbnails_data5
thumbnails_data6